<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p>Click <a th:href="@{/auth}">here</a> to go to profile.</p>
<p>Click <a th:href="@{/auth/register}">here</a> to go to profile.</p>
<p>Click <a th:href="@{/register}">here</a> to go to profile.</p>
<p>Click <a th:href="@{/applications}">here</a> to go to profile.</p>
<p>Click <a th:href="@{/login}">here</a> to go to profile.</p>
<p>Click <a th:href="@{/id}">here</a> to go to profile.</p>
</body>
</html>